<div class="panel panel-default">
  <div class="panel-body">
    <h5 style="color:grey; font-size: 125%;">Who to follow</h5>
    <% for @u in @toFollow do %>
        <%if current_user != @u && !current_user.following?(@u)%>
            <div class="row">
              <div class="col-sm-3">
                <%if @u.avatar_url == nil%>
                    <%= image_tag "/avatar.png", height:"50px", width:"50px", class:"rounded-img"%>
                <%else%>
                    <%= image_tag @u.avatar_url, height:"50px", width:"50px", class:"rounded-img"%>
                <%end%>
              </div>
              <div class="col-sm-8" style="font-weight: bold;opacity: 0.85;"><a class="col-sm-9" href="/user/<%= @u.username %>"><%= @u.username %></a><%= render 'components/follow_button', :user => @u %></div>
            </div>
        <%end%>
    <%end%>
  </div>
</div>